header{
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

.feed {
    margin-top: 20px;
}

.post{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: palevioletred;
}